---
// Layout Imports
import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout title="Edgebox">
    <div slot="content">
        <header class="bg-gradient-dark">
            <div class="page-header min-vh-75" style="background-image: url('');">
                <span class="mask bg-gradient-info opacity-8"></span>
                <div class="container">
                    <div class="row justify-content-center">
                        
                        <div class="col-lg-8 mx-auto my-auto loading-card" id="loading-card">
                            <section class="py-sm-7 py-5 position-relative">
                                <div class="container card blur">
                                    <div class="row">
                                        <div class="col-12 mx-auto">
                                            <div class="row text-center py-lg-7 py-5">
                                                <p><img src="/img/icon-cloud-white.png" alt="icon" class="img border-radius-lg max-width-200 w-100"><br><b>Loading...</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        
                        <div class="col-lg-8 mx-auto my-auto confirm e-mail-card" id="confirm-email-card" style="display: none;">
                            <section class="py-sm-7 py-5 position-relative">
                                <div class="container card blur">
                                    <div class="row">
                                        <div class="col-12 mx-auto">
                                            <div class="row text-center py-lg-7 py-5">
                                                <p><img src="/img/illustrations/chat.png" alt="icon" class="img border-radius-lg max-width-200 w-100"><br><b>Unconfirmed Account</b><br>Activate your account by confirming your e-mail address, and try again.</p>
                                                <!-- <div class="col col-12 mt-2">
                                                    <div class="btn btn-white logout-btn">Logout</div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        
                        <div class="col-lg-8 mx-auto my-auto no-instances-card" id="no-instances-card" style="display: none;">
                            <section class="py-sm-7 py-5 position-relative">
                                <div class="container card blur">
                                    <div class="row">
                                        <div class="col-12 mx-auto">
                                            <div class="row text-center py-lg-7 py-5 mx-5">
                                                <p><img src="/img/illustrations/sign-up.png" alt="icon" class="img border-radius-lg max-width-200 w-100"><br><b>No instances assigned yet</b><br>Please be patient while the team prepares your early access test. <br>You will receive an e-mail once an instance is assigned to your account!</p>
                                                <!-- <div class="col col-12 mt-2">
                                                    <div class="btn btn-white logout-btn">Logout</div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        
                        
                        <div class="col-md-12 col-lm-12 col-lg-8 mx-auto my-auto main-instance-card" id="main-instance-card" style="display: none;">
                            <section class="py-sm-7 py-5 position-relative">
                                <div class="row instances-row" id="instances-row" style="margin-top: 4rem;">
                                    
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="position-absolute w-100 z-index-1 bottom-0">
                    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                        </defs>
                        <g class="moving-waves">
                            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
                            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1"></use>
                        </g>
                    </svg>
                </div>
            </div>
        </header>

        <!--         
        <section class="container my-2 py-5">
            <div class="row">
                <div class="col col-lg-3 col-md-2 col-sm-0 col-xs-0 col-0"></div>
                <div class="col col-12 col-lg-6 col-md-8 col-sm-12 col-xs-12 text-center">
                    <h2 class="mb-4">Got Feedback?</h2>
                    <form id="feedback-form">
                        <div class="form-group">
                            <label for="feedbackTextArea">Please share your thought about Edgebox with us. We will read this message!</label>
                            <textarea class="form-control" id="feedbackTextArea" rows="3"></textarea>
                        </div>
                        <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                </div>
                <div class="col col-lg-3 col-md-2 col-sm-0 col-xs-0 col-0"></div>
            </div>

        </section> -->
            
        <section class="container my-2 py-5">
            <div class="row">
                <div class="col col-12 text-center">
                    <p class=""><div class="btn btn-white logout-btn">Logout</div></p>
                </div>
            </div>
        </section>
    </div>
</BaseLayout>
    
<script>

    import PocketBase from 'pocketbase'
    const pb = new PocketBase('https://adm-pocketbase.edgebox.io')
    
    // Check if user is logged in, if so redirect to dashboard
    if( pb.authStore.isValid ) {

        // Change inner html of the div with id "install-nav-btn" to "Logout"
        document.getElementById('install-nav-btn').innerHTML = `<a class="btn btn-sm bg-gradient-secondary btn-round mb-0 me-1 mt-2 mt-md-0 logout-btn" data-astro-cid-m3f4utyn="">Logout</a>`

        // Replace the class "btn-gradient-primary" with "btn-gradient-secondary"
        document.getElementById('install-nav-btn').classList.remove('btn-gradient-primary');

        console.log('User is logged in');
        console.log(pb.authStore.model)
        const isVerified = pb.authStore.model && pb.authStore.model.verified
        // Check if the user is confirmed
        if( !isVerified ) {
            console.log('User is not confirmed');
            document.getElementById('confirm-email-card').style.display = 'block';
            document.getElementById('loading-card').style.display = 'none';
        } else {
            
            // Get the user's profile
            // you can also fetch all records at once via getFullList
            const records = await pb.collection('instances').getFullList({
                sort: '-created',
            });
            
            console.log(records)
            
            // Check if the user has any instances
            if( records.length > 0 ) {

                var column_layout = "col-lg-12"
                
                console.log('User has instances');
                
                if( records.length > 1) {
                    // This user has more than 1 instance. Adapt the layout
                    console.log('User has more than 1 instance');
                    column_layout = "col-lg-6"
                }
                
                // Get the first instance
                // const instance = records[0];
                // console.log(instance)

                var instances_html = '';

                // loop through the records
                for (let i = 0; i < records.length; i++) {
                    const instance = records[i];
                    console.log(instance)

                    const instance_status = instance.running ? 'Online <span style="font-size: 12px;">🟢</span>' : 'Offline <span style="font-size: 12px;">🔴</span>'
                    // Set the instance started date, in the Following format: dd Mo YYYY. Example: 16 Nov 2023
                    const date = new Date(instance.created);
                    const options = { year: 'numeric', month: 'short', day: 'numeric' };

                    instances_html += `
                        <div class="${column_layout} instance-column-layout">
                            <div class="container card blur mt-4"> 
                                <div class="row">
                                    <div class="col-12 mx-auto">
                                        <div class="row py-5">
                                            <div class="col-lg-3 col-md-5 position-relative my-auto text-center">
                                                <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" src="/img/icon-cloud-white.png" alt="icon">
                                            </div>
                                            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                    <h4 class="mb-0"><span id="${instance.hostname}-instance-name">${instance.hostname}.edgebox.io</span></h4>
                                                    <!-- <div class="d-block">
                                                        <button id="${instance.hostname}-instance-button" type="button" class="btn btn-sm btn-outline-danger text-nowrap mb-0">Reset</button>
                                                    </div> -->
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col-auto">
                                                        <span class="h6">Status: </span>
                                                        <span id="${instance.hostname}-instance-status">${instance_status}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <span class="h6">Started on:</span>
                                                        <span id="${instance.hostname}-instance-started">${date.toLocaleDateString("en-DE", options)}</span>
                                                    </div>
                                                    <!-- <div class="col-auto">
                                                        <span class="h6">260</span>
                                                        <span>Following</span>
                                                    </div> --
                                                </div>
                                                <p class="text-lg mb-0">
                                                    <!-- This instance is currently running and online. Access the dashboard to manage the instance and use its edgeapps.
                                                        <br> 
                                                        <br> -->
                                                        <a href="${instance.url}" id="${instance.hostname}-instance-url" class="text-info icon-move-right">Access Dashboard
                                                            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;

                    console.log("Added element")
                    
                }
                
                document.getElementById('instances-row').innerHTML = instances_html;
                document.getElementById('loading-card').style.display = 'none';
                document.getElementById('main-instance-card').style.display = 'block';
                        
            } else {
                console.log('User has no instances');
                
                // Hide the loading card
                document.getElementById('loading-card').style.display = 'none';
                document.getElementById('no-instances-card').style.display = 'block';
            }
            
        }
        
    } else {
        console.log('User is not logged in');
        window.location.href = '/cloud/login';
    }
    
    const logout = document.getElementsByClassName('logout-btn');
    for (let i = 0; i < logout.length; i++) {
        console.log('Adding logout event listener');
        logout[i].addEventListener('click', () => {
            pb.authStore.clear();
            window.location.href = '/cloud/login';
        });
    }

</script>